/* Setup stuff */
body, html, .container {
    /* height: 100%; */
    color: white;
  }

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Header */

.container {
    width: 900px;
    margin: 0 auto;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

header {
    background-image: url('../img/parallax2.png');
    height: 650px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow:0 4px 3px rgba(0,0,0,.5);
    -moz-box-shadow:0 4px 3px rgba(0,0,0,.5);
    box-shadow:0 4px 3px rgba(0,0,0,.5);
  }


.logo {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

h1 {
    margin-right: auto;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
}

.job {
    font-size: .6em;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1em;
    font-weight: 700;
}

li:nth-child(-n+2) a {
    margin-right: 15px;
}

a {
    text-decoration: none;
}

.header-content a {
    color: white;
    padding-bottom: 15px;
    transition: border-bottom 0.2s linear;
}

a:visited {
    color: white;
}

.header-content a:hover {
    border-bottom: 3px solid #67BAAE;
}

.header-content ul:hover a {
    opacity: .50;
    transition: .3s;
}
.header-content ul a:hover {
    opacity: 1;
    transition: .3s;
}

/* Hero Text */

.intro-text {
    margin-top: 125px;
    letter-spacing: 2px;
}

.intro-text h2 {
    font-size: 2.5em;
}

.intro-text p {
    font-size: 1.5em;
}

/* Button */
  
.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #FA703F;
    border-radius: 0.6em;
    color: #FA703F;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 50px;
    width: 230px;
  }
  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }
  
  .btn {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .btn:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
  }

  /* Projects */

  main {
      color: black!important;
  }

.project {
    margin-top: 125px;
    padding-bottom: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    letter-spacing: 1.5px;
}

.project-img {
    width: 450px;
}

.project-text-container {
    display: inline-block;
    width: 450px;
}

.project-text-container h3 {
    font-size: 1.5em;
    letter-spacing: 3px;
}

.project-text-container p {
    margin-top: 45px;
}

.jb {
    margin-left: -25px;
}

.skills {
    padding: 0;
    margin-top: 45px;
}

.skills li {
    letter-spacing: 0;
}

.react {
    width: 64px;
}

.drupal {
    width: 64px;
    margin-right: 15px;
}

.php {
    width: 64px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* Contact */
.contact {
    height: auto;
    background-color: #67BAAE;
    width: 100%;
    text-align: center;
    border-style: none;
}

.contact h2 {
    padding-top: 75px;
    font-size: 2em;
    letter-spacing: 2px;
}

.contact input {
    width: 435px;
    height: 30px;
    margin-bottom: 5px;
    background-color: #285851;
    outline: none;
    color: white;
    padding-left: 15px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    border:none;
}

.contact textarea {
    width: 434px;
    height: 125px;
    color: white;
    background-color: #285851;
    padding-left: 15px;
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border:none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d9d9d9;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d9d9d9;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #d9d9d9;
  }

.btn2 {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0.6em;
    color: #fff;
    cursor: pointer;
    align-self: center;
    font-size: 1rem;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-bottom: 75px;
  }
  .btn2:hover, .btn2:focus {
    color: #FA703F;
    outline: 0;
  }
  
  .btn2 {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .btn2:hover {
    box-shadow: 0 0 40px 40px #fff inset;
  }

/* Footer */

 .footer {
    background-color: #333333;
    height: 60px;
    display: flex;
    justify-content: space-between;
  }
  
  .footer p {
    align-self: center;
    margin: 0 auto;
    color: white;
    letter-spacing: 2px;
  }

  .footer p a{
      color: white;
  }
  
  .created {
    font-size: 1em;
  }
  
  .copyright {
    
    font-size: .8em;
  } 

  @media only screen and (max-width : 930px) {
    .container {
        width: 100%;   
    }
    .logo {
        margin-left: 25px; 
    }

    .intro-text {
        margin-left: 25px; 
    }

    .intro-text h2 {
        font-size: 2em;
    }
    .intro-text p {
        font-size: 1em;
    }

  }

  @media only screen and (max-width : 777px) {
    .project-img {
        max-width: 100%;
        height: auto; 
    }
  }

  @media only screen and (max-width : 660px) {
    
    .project-img{
        margin-right: 75px;
    }

  }

  @media only screen and (max-width : 480px) {
      .job {
          display: none;
      }
      header {
        background-image: url('../img/parallaxmobile.png');
        background-attachment: scroll;
      }
      .header-text {
          height: 450px;
      }
      .intro-text {
          margin-top: 50px;
      }
      .intro-text h2 {
          font-size: 1.5em;
      }
      .intro-text p {
          font-size: .8em;
      }
      .btn {
          margin: auto;
          margin-top: 50px;
      }

      .project {
          display: block;
          width: 100%;
          margin-top: 50px;
          padding-bottom: 50px;
      }
      .project-img {
          width: 100%;
          display: block!important;
          margin: 0 auto;
      }
        .project-text-container {
            width: 100%;
            display: block; 
    }
    .project-text-container h3, p, ul {
        text-align: center;
    }
    .jb {
        margin-left: -30px;
    }
    .skills li img {
        width: 30px;
    }
    .contact input {
        width: 96%
    }
    .contact textarea {
        width: 96%;
    }
    .created {
        font-size: .8em;
    }
 

  }

  @media only screen and (max-width : 382px) {
      .btn{
          margin-top: 25px;
      }
    .header-content {
        padding-top: 0px;
    }
    .header-text {
        height: 475px;
    }
    .contact input {
        width: 94%
    }
    .contact textarea {
        width: 95.5%;
    }
    .intro-text {
        margin-left: 5px;
        text-align: center;
    }
    .intro-text h2 {
        font-size: 1.2em;
    }
  }
